.header{
  background-color: blue;
  display: flex;
  justify-content: space-evenly;
  a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
    font-size: 1.5em;
    &:visited {
      color: white;
    }
  }
}
